* {
    box-sizing: border-box;
}

.grid-container {
    border: 3px solid black;
    width: 500px;
    height: 350px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}


#resize-grid-button {
    width: 150px;
    height: 30px; 
    background-color: black;
    color: white;
}

#resize-grid-button:hover {
    background-color: white;
    color: black;
}